@use "./scrollbar.scss";
@use "./fonts.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    max-width: 100vw;
}

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;
}
